:root{
   --brightorange: hsl(31, 77%, 52%);
   --darkcyan: hsl(184, 100%, 22%);
   --verydarkcyan: hsl(179, 100%, 13%);
   --transparentwhite-paragraphs: hsla(0, 0%, 100%, 0.75);
   --verylightgray-background-headings-buttons: hsl(0, 0%, 95%);
}
*{
    margin: 0;
    padding: 0;   
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
}
main{
    width: 95%;
    background-color: aqua;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}